body {
  font-family: "Poppins", sans-serif;
}

.name-color {
  color: orange;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
.main-para {
  font-size: 25px;
}
.about-para {
  font-size: 25px;
}
.header-ancher {
  margin: 10px;
  font: bold;
  text-decoration: none;
  float: right;
}
section {
  height: 1000px;
}
.header-main-div {
  width: 200px;
}

.hire-me-btn {
  text-decoration: none;
  background-image: linear-gradient(45deg, lightBlue, darkBlue);
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  font-weight: 700;
}
.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
.half-width img {
  width: 100%;
}

.download-cv-btn {
  text-decoration: none;
  background-image: linear-gradient(45deg, lightSalmon, tomato);
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  font-weight: 700;
}
.project-head {
  text-align: center;
}
.third-slice {
  width: 30%;
  float: left;
}
.third-slice img {
  width: 70%;
}
